<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Security and Privacy Analysis through Risk-driven Threat Assessment"
            name="Security and Privacy Analysis through Risk-driven Threat Assessment">
         <property
               name="appName"
               value="Security and Privacy Analysis through Risk-driven Threat Assessment">
         </property>
         <property
               name="windowImages"
               value="icons/sparta16.png,icons/sparta32.png,icons/sparta48.png,icons/sparta64.png,icons/sparta128.png,icons/sparta256.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="be.kuleuven.cs.distrinet.sparta.rcp.SPARTAPerspective"
            icon="icons/sparta16.png"
            id="be.kuleuven.cs.distrinet.sparta.rcp.spartaperspective"
            name="SPARTA">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="be.kuleuven.cs.distrinet.sparta.rcp.spartaperspective">
         <newWizardShortcut
               id="be.kuleuven.cs.distrinet.sparta.spartamodel.presentation.SpartaModelModelWizardID">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.sirius.ui.modelingproject.wizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="be.kuleuven.cs.distrinet.sparta.rcp.spartaperspective">
         </perspectiveShortcut>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.15"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="be.kuleuven.cs.distrinet.sparta.analysis.views.ThreatAnalysis"
               minimized="false"
               ratio="0.66"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio=".75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="be.kuleuven.cs.distrinet.sparta.spartamodel.presentation.SpartaModelModelWizardID">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="be.kuleuven.cs.distrinet.sparta.threattree.presentation.ThreattreeModelWizardID">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
   </extension>

</plugin>
